:root {
  /* ### Text */

  --Pale-Violet: hsl(276, 100%, 81%);
  --Moderate-Violet: hsl(276, 55%, 52%);
  --Desaturated-Dark-Violet: hsl(271, 15%, 43%);
  --Grayish-Blue: hsl(206, 6%, 79%);
  --VeryDarkDesaturatedViolet: hsl(271, 36%, 24%);
  --DarkGrayishViolet: hsl(270, 7%, 64%);

  /* #### Gradients */

  --Light-Magenta: hsl(293, 100%, 63%);
  --Light-Violet: hsl(264, 100%, 61%);

  /* ### Secondary */

  --White: hsl(0, 0%, 100%);
  --LightGrayishViolet: hsl(270, 20%, 96%);
  --VeryDarkDesaturatedViolet: hsl(271, 36%, 24%);
  --VeryLightMagenta: hsl(289, 100%, 72%);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100vh;
  background-color: var(--LightGrayishViolet);
}
.main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.main .left {
  z-index: -999;
  position: absolute;
  left: -80px;
  height: 80%;
  width: 450px;
  background: linear-gradient(
    0deg,
    hsl(264, 100%, 61%) 2%,
    hsl(293, 100%, 63%) 130%
  );
  border-radius: 0px 0px 225px 225px;
}
.main .right {
  z-index: -900;
  position: absolute;
  right: 0px;
  bottom: 0;
  height: 80%;
  width: 300px;
  background: linear-gradient(
    0deg,
    hsla(264, 100%, 61%, 0.05) 2%,
    hsla(293, 100%, 63%, 0.05) 130%
  );
  border-radius: 225px 0px 0px 0px;
}
.chat_veiw {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
.description {
  width: 50%;
}
.description h1 {
  font-weight: 700;
  font-size: 35px;
  padding-bottom: 15px;
  color: var(--VeryDarkDesaturatedViolet);
}
.description p {
  color: var(--DarkGrayishViolet);
  font-size: 16px;
  font-weight: 400;
  width: 75%;
}
.phone {
  width: 50%;
}

.p_veiw {
  transform: translateX(100%);
  width: 280px;
  border: 10px solid var(--White);
  border-radius: 25px;
  background-color: var(--LightGrayishViolet);
}
.phn_hed {
  height: 65px;
  width: 100%;
  background: linear-gradient(
    to right,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  border-radius: 15px 15px 5px 5px;
  padding: 0px 10px 10px 10px;
}
.phn_cam {
  width: 60%;
  height: 20px;
  border-radius: 0 0 15px 15px;
  background-color: var(--White);
  margin: auto;
}
.chat_profile {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  align-items: center;
  padding: 10px 0 5px 0;
}
.chat_profile .chat_p_pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--White);
  margin-right: 8px;
}
.chat_profile .name {
  padding-right: 75px;
}
.chat_profile .name h3 {
  font-weight: 500;
  font-size: 14px;
  color: var(--White);
}
.chat_profile .name p {
  color: hsl(276, 100%, 81%);
  font-size: 11px;
}
.chat_profile .fa-solid {
  cursor: pointer;
  color: var(--White);
}
.chat_profile .fa-ellipsis-vertical {
  text-align: right;
}
.sms {
  padding: 10px;
}
.sms div {
  margin-bottom: 10px;
  width: 65%;
  border-radius: 10px;
  padding: 8px;
  font-size: 10px;
}
.sms > .s_left {
  background-color: #ede5f4;
  color: var(--Moderate-Violet);
}
.sms > .s_right {
  color: var(--Desaturated-Dark-Violet);
  position: relative;
  right: -85px;
  background-color: var(--White);
}
.sms .sms_img {
  display: flex;
  gap: 10px;
  width: 85%;
  right: -62px;
  background: none;
  padding-top: 12px;
}
.s_right img {
  width: 50px;
  border-radius: 12px;
}
.sms > .voice {
  width: 80%;
  background: linear-gradient(
    to left,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.voice p {
  color: rgba(255, 255, 255, 0.665);
}
.voice h2 {
  font-weight: 700;
  font-size: 18px;
  color: var(--White);
}
.sms > form {
  position: relative;
}
.sms > form > input {
  margin-top: 5px;
  width: 100%;
  padding: 10px 15px;
  border-radius: 100px;
  border: none;
  background-color: #fff;
}
.sms > form > button {
  background-color: var(--VeryDarkDesaturatedViolet);
  color: var(--White);
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 10px;
}
.copyright {
  bottom: 5px;
  position: absolute;
  width: 100%;
}
.attribution {
  text-align: center;
  color: rgb(0, 225, 255);
}
.attribution a {
  color: rgb(255, 0, 191);
}
.attribution a:hover {
  color: rgb(0, 165, 44);
}
.attribution span {
  color: rgb(242, 0, 255);
  font-size: 20px;
}

/* ====Responsive Style ====== */
@media (max-width: 1030px) {
  .main .left {
    left: -150px;
    height: 70%;
  }
  .main .right {
    height: 70%;
  }
  .description {
    width: 40%;
  }
  .p_veiw {
    transform: translateX(70%);
  }
}

@media (max-width: 820px) {
  body {
    height: 1000px;
    position: relative;
  }
  .main .left {
    left: -250px;
    height: 60%;
  }
  .main .right {
    width: 200px;
    height: 60%;
  }
  .chat_veiw {
    flex-direction: column;
    margin: auto;
  }
  .phone {
    width: 100%;
    margin-bottom: 50px;
  }
  .p_veiw {
    margin: auto;
  }
  .description {
    width: 60%;
    text-align: center;
  }
  .description h1 {
    font-size: 32px;
  }
  .description p {
    font-size: 15px;
    width: 100%;
  }
  .p_veiw {
    transform: none;
  }
  .copyright {
    position: absolute;
    width: 100%;
  }
}
